@media only screen and (min-height: 600px) and (min-width:500px) {
      .boxContainer {
            width: 80%;
      }

      .container {
            width: 100%;
      }

      .whiteContainer {
            width: 100%;
      }

      .title {
            width: 100%;
            max-width: 500px;
      }

      h2 {
            font-size: 2.5rem;
      }
}