@media only screen and (min-height: 600px) and (min-width:500px) {
      .boxContainer {
            max-height: 900px;
            width: 600px;
      }

      .container {
            width: 600px;
            max-height: 900px;
      }
}