.winner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    background-color: #55608E;
    border-radius: .6rem;
    padding: 1rem;
    width: 80%;
    font-size: 1.3rem;
    height: fit-content;
    z-index: 19;
}

.winner div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FBE29E;
      justify-content: center;
  }

  .winner .botImg {
    padding: 0;
    margin: 0;
    width: 35%;
    /* height: 5rem; */
  }
  
  .winner p:first-of-type {
    color: #FBE29E;
    font-family: "Josefin Sans BoldItalic", sans-serif;
  }

  .winner p {
      padding: .2rem;
  }
  
  .winner .playerScore {
    width: 50%;
    color: #FBE29E;
  }