* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #5F193D;
  background-image: url("./assets/New_background_pattern.svg");
  background-repeat: repeat;
  background-size: auto 18rem;
  width: 100%;
}

.boxContainer {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 700px;
}

.container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 700px;
}

.headningContainer {
  position: absolute;
  width: 320px;
  height: 200px;
  background-color: #55608E;

}


.whiteContainer {
  background-color: #FCFCFB;
  width: 90%;
  height: 330px;
  padding: 25px;
}

.yellowContainer {
  background-color: #FBE29E;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 500px;
  border-radius: 20px;
}

.bots {
  width: 50px;

}

.botdiv {
  flex-wrap: nowrap;
  background-color: #FBE29E;
  width: 60px;
}

/* h1 {
  color: #55608E;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
} */

h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
}

#inputUsername, button, a {
  color: #5F193D;
}

h2, .checkUserGuess, #inputUsername {
  color: #FBE29E;
  background-color: #55608E;
}

#timePressureButton {
  color: #5F193D;
  background-color: #55608E;

}

p {
  color: #55608E;
}

.h1StartMenu {
  margin: 50px, auto;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 2.2em;
}

.startMenu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#inputUsername {
  background-color: #5F193D;
  border-radius: 10px;
  font-size: 1.5em;
  width: 260px;
}

button {
  justify-content: center;
  background-color: #FBE29E;
  border: none;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
}

button, #hightScoreButton, #settingsButton, #startgameButton {
  width: 260px;
  height: 65px;
  margin: 20px;
}
a {
  text-decoration: none;
  font-size: 1.2em;

}

.backToMenuButton {
  position: absolute;
  bottom: 10px;
}

.enterUsername{
  position: relative;
  margin: auto;
  top: 500px;
  right: 0;
  bottom: 50px;
  left: 0;
  width: 300px;
  height: 200px;
}

.hide {
  display: none;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5F193D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5F193D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}