* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #5F193D;
  background-image: url("./assets/New_background_pattern.svg");
  background-repeat: repeat;
  background-size: auto 18rem;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 600px;
}

.headningContainer {
  position: absolute;
  width: 320px;
  height: 200px;
  background-color: #55608E;
}

.whiteContainer, .newGameWhiteCon {
  background-color: #FCFCFB;
  max-width: 100vw;
  padding: 25px;
  margin: 0;
  border-radius: 0 0px 20px 20px;
}

.whiteContainer .rules {
  height: 390px;
}

.whiteContainer .settings {
  height: 360px;
}

.whiteContainer .highScoreContainer {
  height: 300px;
}

.yellowContainer {
  background-color: #FBE29E;
  margin: auto;
  margin-top: 5vh;
  z-index: 0;
  width: 300px;
  height: 500px;
  border-radius: 20px;
}

.bots {
  width: 50px;
}

.botdiv {
  flex-wrap: nowrap;
  background-color: #FBE29E;
  width: 60px;
}

h2 {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px 20px 0px 0px;
}

h3 {
  text-align: center;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 500;

}

p {
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
}

#inputUsername, button, a, .set-user-settings {
  color: #5F193D;
}

h2, h3, .checkUserGuess, #inputUsername {
  color: #FBE29E;
  background-color: #55608E;
}

/* BACKGROUND CHANGES ON CLICK EVENT SO THIS IS NOT NEEDED
#timePressureButton {
  color: #5F193D;
  background-color: #55608E;
}
 */

p {
  color: #55608E;
}

.title {
  margin: 50px, auto;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 2.2em;
}

.startMenu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}

#inputUsername {
  justify-content: center;
  align-items: center;
  border-color: #5F193D; 
  border-radius: 10px;
  font-size: 1.4em;
  letter-spacing: 0.05px;
  width: 260px;
  font-weight: 300;
}

button, .set-user-settings {
  justify-content: center;
  background-color: #FBE29E;
  border: none;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
  margin: 8px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
}

button, .set-user-settings, #hightScoreButton, #settingsButton, #startgameButton {
  width: 250px;
  height: 65px;
}

#rangeButton{
  width: 160px;
}

.set-user-maxNumber{
  background-color: #FBE29E;
  width: 80px;
  font-size: 1.5em;
  font-weight: 700;
  height: 63px;
  border-radius: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 1.2em;
}

.backToMenuButton {
  position: absolute;
  bottom: 3vh;
  align-items: center;
  margin: 1rem auto;
}

.enterUsername{
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  /* top: 250px; */
  /* bottom: 50px; */
  /* width: 300px;
  height: 200px; */
}

.hide {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5F193D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5F193D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Change background when buttons in 'settings' are clicked */
.buttonClicked{
  color: #5F193D;
  background-color: #55608E;
}

ol{
  padding: 1.5rem;
  font-size: 2em;
  color: #55608E;
}

.highScoreListItem{
  display:flex;
  justify-content: space-between;
}

li{
  padding: 0.5rem 0.2rem;
  margin-left: 1rem;
  padding-left: 1rem;
}


/* Gameplay output */
.display-text, .display-text span {
  z-index: 5;
  transition: all 1000ms ease-in-out;
}

.display-bots, .gameover-display-bots {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.display-bots > div, .gameover-display-bots > div {
  justify-content: center;
  background: #FCFCFB;
  border-radius: 1rem;
  padding: .3rem .3rem .8rem .3rem;
  margin: .3rem .1rem 0 .1rem;
  width: calc((100% / 3) - .5rem);
}

.moreThanThreeBots {
  min-width: calc((100% / 4) - 1.1rem);
  max-width: calc((100% / 2) - 1.1rem);
}

.botImg {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 .3rem;
}

.newGameCon .botImg {
    margin: unset;
    margin: .3rem;
}

.botText {
  font-family: 'Josefin Sans Bold';
  font-size: .8rem;
  display: flex;
  justify-content: center;
  margin-top: -.1rem;
  padding: 0;
}

.botGuess, .botResult {
  margin: -.3rem;
  padding: 0;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans BoldItalic', sans-serif;
  font-size: 1.11rem;
}

.userGuess {
  display: flex;
  align-self: flex-end;
}

#guessingList {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-height: 10vh;
}

#guessingList p {
  padding: 0;
  margin: .5rem 1rem;
}

.user-guess {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-guess p {
  margin: -.2rem 1rem;
  padding: .2rem;
}

.user-guess p:first-of-type {
  font-family: "Josefin Sans Bold", sans-serif;
  font-size: 2.5rem;
  color: #5F193D;
}

.user-guess p:last-of-type {
  font-family: "Josefin Sans BoldItalic", sans-serif;
  font-size: 2rem;
}

.flex {
  display: flex;
}

/* .gameCon .backToMenuButton, .gameoverCon .backToMenuButton {
  position: unset;
  padding: unset;
  margin: 0 auto;
  margin-bottom: 3vh;
} */

.gameCon.container, .gameoverCon.container, .newGameCon.container {
  height: 100vh;
  border-radius: 0px 0px 20px 20px;
}

.gameCon .yellowContainer, .gameoverCon .yellowContainer, .newGameWhiteCon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  height: 75vh;
  width: 300px;
  min-height: 400px;
  max-height: 500px;
}

.user-guess-div {
  font-family: "Josefin Sans Bold", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  width: 100%;
}

.user-guess-div p {
  margin: -.2rem auto;
  padding: 0;
}

.user-guess-div p:first-of-type {
  color: #5F193D;
}

.user-guess-div p:last-of-type {
  font-family: "Josefin Sans BoldItalic", sans-serif;
  font-size: 1.5rem;
}

.user-guess {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border: none;
  margin-top: -1.5rem;
}

.user-guess input, #inputUsername {
  box-sizing: border-box;
  border-radius: .4rem;
  border: none;
  padding: .5rem 1rem;
  margin: 1rem;
  height: 3.5rem;
  width: 40%;
  z-index: 2;
  font-size: 1.2rem;
  font-family: "Josefin Sans BoldItalic", sans-serif;
}

button {
  cursor: pointer;
}

#enterUsername {
  align-self: flex-end;
  margin-top: -1rem;
}

#submitUsername {
  z-index: 1;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0;
}

.winner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    background-color: #55608E;
    border-radius: .6rem;
    padding: 1rem;
    width: 80%;
    font-size: 1.3rem;
    height: fit-content;
    z-index: 19;
}

.winner div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FBE29E;
      justify-content: center;
  }

  .winner .botImg {
    padding: 0;
    margin: 0;
    width: 35%;
    /* height: 5rem; */
  }
  
  .winner p:first-of-type {
    color: #FBE29E;
    font-family: "Josefin Sans BoldItalic", sans-serif;
  }

  .winner p {
      padding: .2rem;
  }
  
  .winner .playerScore {
    width: 50%;
    color: #FBE29E;
  }

.purple-bg {
    background-color: #55608E;
}

.newGameWhiteCon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
  padding: unset;
  overflow: hidden;
}

.newGameCon h2 {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newGameCon .backToMenuButton {
  position: unset;
  margin: 1rem auto;
  height: 65px;
}

#inputUsername {
  margin: 0 auto;
  color: #5F193D;
  background-color: #FCFCFB;
  width: 90%;
}

.select-bots-form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.botWidth {
    min-width: calc((100% / 3) - 1rem);
    border-radius: 15px;
    margin: .5rem;
}

input[type='checkbox']:checked, input[type='checkbox'] {
  display: none;
}




/* MEDIA QUERIES */

@media only screen and (min-height: 600px) {
  h2 {
    margin-top: 10vh;
  }

  h3 {
    margin-top: 110px;
  }

}
